html {
  font-size: 16px;
}

/*--------------------------------- HEADER ----------------------------------*/
header .row {
  
}

header nav {
  text-align: right;
  margin-right: 26px;
}

/*----------------------------- ONLINE COURSES ------------------------------*/
section#online-courses {
  text-align: left;
}

/*--------------------------------- COVER-2 ---------------------------------*/
#flex-item-empty {
 order: 3;
}

#flex-item-txt {
  order: 2;
}

#flex-item-img {
  order: 1;
}

/*--------------------------------- SIDEBAR ---------------------------------*/
#flex-container-about {
  align-items: stretch;
}

/*--------------------------------- IMAGES ----------------------------------*/
#profile-image {
  margin: 0;
  margin-left: 0;
  padding: 0;
  margin-left: 30px;
}

.logo {
  margin-left: 42px;
}

/* Certification and badge icons */
.image-link {
  width: 90px;
}
