html {
  /*
   * The width/height property includes content, padding, and border. This makes
   * things more predictable. No matter how you tweak the padding and border
   * sizes, the size of the box will always stay the same.
   */
  box-sizing: border-box;
  font-size: 16px;
}

html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.row {
  display: flex;
  /* default flex direction (mobile first design) */
  flex-direction: column;
  align-items: center;
}

/* 1/12 of the page width */
.col-1 {
  width: 8.33%;
}

/* 2/12 of the page width */
.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10,
.col-11, .col-12 {
  border-radius: .3rem;
  border: 2px solid cyan;
  padding: 0.25rem;
  margin: 0.25rem;
}