body {
  /* font-size/line-height font-family */
  font: 1rem/1.5 'Lato', sans-serif;
  background-color: #eeeeee;
  color: #a0a0a0;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

h1 {
  font-size: 2.25rem; /* 36px */
  color: #de1b1b;
}

h2 {
  color: black;
  border-bottom: 1px solid black;
  font-family: 'Arvo', serif;
  font-size: 1.875rem; /* 30px */
}

h3 {
  font-size: 1.5rem; /* 24px */
  color: #707070;
}

p {
  font-family: 'Arvo', serif;
}

/* responsive images */
img {
  max-width: 100%;
  height: auto;
}

a {
  color: #a0a0a0;
}

a:hover {
  color: black;
  text-decoration: none;
}

/*---------------------------------- COVER-1 ---------------------------------*/
#cover-1 {
  background-image: url(images/bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  text-shadow: 0 2px black;
  border-bottom: 0.25rem solid #de1b1b;
  color: white;
}

/*---------------------------------- HEADER ----------------------------------*/
header {
  background: #35424a;
  border-bottom: 0.25rem solid #de1b1b;
}

header a {
  color: white;
  transition: .3s;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem; /* 24px */
}

header li {
  border: 1px solid green;
  display: inline;
  padding: 1rem;
}

/* Highlight current navigation link (i.e. Home, About, Resume, ...) */
header #current {
  color: #de1b1b;
}

header nav {
  text-align: center;
}

/*--------------------------------- SKILLS -----------------------------------*/
#skills li {
  display: inline;
  float: left;
  background-color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  color: #a0a0a0;
  border: 1px solid black;
  border-radius: .3rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

#skills ul {
  list-style-type: none;
}

/*--------------------------- BADGE & CERT IMAGES ----------------------------*/
.image-link {
  opacity: 0.8;
}

.image-link:hover {
  opacity: 1.0;
}

.center {
  display: block;
  margin: auto;
}

/*---------------------------------- FOOTER ----------------------------------*/
footer {
  background-color: #de1b1b;
  text-align: center;
}

footer p, footer a {
  color: white;
}

/*---------------------------------- ASIDE -----------------------------------*/
aside#sidebar {
  background: #35424a;
}

aside#sidebar h3 {
  color: white;
  border-bottom: 1px solid white;
}