/*-------------------------------- FLEXBOX -----------------------------------*/
.row {
  flex-direction: row;
}

/*------------------------------- NAVIGATION ---------------------------------*/
header nav {
  text-align: right;
}

/*----------------------------- CERTIFICATIONS -------------------------------*/
section#certifications {
  text-align: left;
}

/*--------------------------------- BADGES -----------------------------------*/
section#badges {
  text-align: left;
}