.node {
  cursor: pointer;
  fill: #565b61;
}

.node circle {
  stroke: #6d7993;
  stroke-width: 1.5px;
}

.node text {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.link {
  fill: none;
  stroke: #9099a2;
  stroke-width: 1px;
}