html {
  font-size: 16px;
}

/*--------------------------------- HEADER -----------------------------------*/
header .row {
  padding: 0 .5rem;
}

header nav {
  text-align: right;
}

/*----------------------------- CERTIFICATIONS -------------------------------*/
section#certifications {
  text-align: left;
}

/*--------------------------------- BADGES -----------------------------------*/
section#badges {
  text-align: left;
}

/*--------------------------------- COVER-2 ----------------------------------*/
#flex-item-empty {
 order: 3;
}

#flex-item-txt {
  order: 2;
}

#flex-item-img {
  order: 1;
}

/*--------------------------------- SIDEBAR ----------------------------------*/
#flex-container-about {
  align-items: stretch;
}

/*---------------------------- RESPONSIVE IMAGES -----------------------------*/
#profile-image {
  width: 120px;
  /* Align to the left */
  margin: 0;
  padding: 0;
}

.logo {
  width: 90px;
  /* Align to the left */
  margin: 0;
}

/* Certification and badge icons */
.image-link {
  width: 90px;
}
