html {
  font-size: 16px;
}

/*--------------------------------- HEADER ----------------------------------*/

header nav {
  text-align: right;
  margin-right: 26px;
}

/*-------------------------------- SECTIONS ---------------------------------*/

.online-courses {
  text-align: left;
}

/*--------------------------------- COVER-2 ---------------------------------*/

.flex-item-empty {
  order: 3;
}

.flex-item-txt {
  order: 2;
}

.flex-item-img {
  order: 1;
}

/*--------------------------------- SIDEBAR ---------------------------------*/

.flex-container-about {
  align-items: stretch;
}

/*--------------------------------- IMAGES ----------------------------------*/

.profile-image {
  margin: 0 0 0 30px;
  padding: 0;
}

.logo {
  margin-left: 42px;
}

.image-link {
  margin-top: 0;
}

/* Certification and badge icons */

.authority {
  width: 90px;
}

/*--------------------------------- SKILLS ----------------------------------*/

iframe {
  height: 650px;
}
