html {
    font-size: 14px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    background-color: white;
    color: #a0a0a0;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

h1 {
    font-size: 2.25rem;
    /* 36px */
    color: #de1b1b;
}

h2 {
    color: black;
    font-family: 'Arvo', serif;
    font-size: 1.875rem;
    /* 30px */
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    /* 24px */
    color: #707070;
    margin-top: 0;
    margin-bottom: 14px;
}

p {
    font-family: 'Arvo', serif;
}

a {
    color: #a0a0a0;
}

a:hover {
    color: black;
    text-decoration: none;
}

.dates,
.description {
    margin-bottom: 0;
}

.main-content {
    padding: 20px;
}

hr {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background-image: -o-linear-gradient(left, #d9d9d9, #8c8b8b, #d9d9d9);
}

/*---------------------------- RESPONSIVE IMAGES ----------------------------*/

/* profile image container */
#flex-item-img {
    padding: 0;
    margin: 0;
}

#profile-image {
    display: block;
    margin: auto;
    width: 100px;
    max-width: 100%;
    height: auto;
}

.logo {
    display: block;
    margin: auto;
    width: 70px;
    max-width: 100%;
    height: auto;
}

.image-link {
  display: inline-block;
  margin-top: 20px;
}

/* Certification icon */
.authority {
    width: 70px;
    max-width: 100%;
    height: auto;
}

/*---------------------------------- COVER-1 --------------------------------*/

#cover-1 {
    background-image: url(../images/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    /* Shadow with a blur effect */

    text-shadow: -1px 0 2px black;
    border-bottom: 0.25rem solid #de1b1b;
}

#tagline {
    color: white;
}

/*---------------------------------- HEADER ---------------------------------*/

header {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    padding: 1rem 0;
    background: #35424a;
    border-bottom: 0.25rem solid #de1b1b;
}

header a {
    color: white;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    /* 16px */
}

header li {
    display: inline;
    padding: 1rem;
}

/* Highlight current navigation link (i.e. Home, About, Resume, ...) */
header #current {
    color: #de1b1b;
}

header nav {
    text-align: center;
}

/*--------------------------------- SKILLS ----------------------------------*/

/* Making Embedded Content Work In A Responsive iFrame */
.graph-wrapper {
    position: relative;
    /* The height will be 83.3333% of the width (960px x 800px) */
    padding-bottom: 83.3333%;
    height: 0;
    width: 100%;
    overflow: hidden;
}

/* Making Embedded Content Work In A Responsive iFrame */
.graph-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/*----------------------------- ONLINE COURSES ------------------------------*/

section#online-courses {
    text-align: center;
}

/*-------------------------- ONLINE COURSES IMAGES --------------------------*/

.image-link {
    opacity: 0.8;
}

.image-link:hover {
    opacity: 1.0;
}

/*---------------------------------- FOOTER ---------------------------------*/

footer {
    background-color: #35424a;
    text-align: center;
    padding: .5rem 1rem;
}

footer p,
footer a {
    color: white;
}

/*--------------------------------- SIDEBAR ---------------------------------*/

aside#sidebar {
    text-align: center;
}

aside#sidebar h3 {
    color: white;
    border-bottom: 1px solid white;
}

aside#sidebar a {
    /* Set to inline-block in order for the text-align to have an effect on it */
    display: inline-block;
    text-decoration: none;
    margin: 1rem;
}

/*------------------------------ HELPER CLASSES -----------------------------*/

.light-bg {
    background: #e6e6e6;
}

.dark-bg {
    background: #35424a;
}

.red-bg {
    background: #de1b1b;
}

.center {
    display: block;
    margin: auto;
}

/*---------------------------------- COVER-2 --------------------------------*/

#cover-2 {
    background-image: url(../images/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    /* Shadow with a blur effect */
    text-shadow: -1px 0 2px black;
    border-bottom: 0.25rem solid #de1b1b;
}