html {
  /*
   * The width/height property includes content, padding, and border. This makes
   * things more predictable. No matter how you tweak the padding and border
   * sizes, the size of the box will always stay the same.
   */
  box-sizing: border-box;
}

html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.row {
  display: flex;
  /* default flex direction (mobile first design) */
  flex-direction: column;
  align-items: center;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10,
.col-11, .col-12 {
  border-radius: .3rem;
  /*border: 2px solid cyan;*/
  padding: 0.25rem;
  margin: 0.25rem;
  width: 100%;
}